// Module Importing
@use 'sass:color';

// Font Importing
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Font Variables
$lato: 'Lato', sans-serif;

// Color Variables
$white: #FFFFFF;
$sass-pink: #CD6799;
$beige: #FBEDC7;
$light-gray: #DEDEDC;
$med-gray: #D3D3D1;
$dark-gray: #141414;
$black: #000000;

@mixin fullscreen {
    width: 100%;
    height: 100%;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

* {
    box-sizing: border-box;
}

html {
    @include fullscreen;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body {
    @include fullscreen;
    padding: 0;
    margin: 0;
    background-color: $med-gray;
}

// Navigation Styling

#nav-toggle {
    $width: 50px;
    position: fixed;
    top: 40px;
    right: 40px;
    width: $width;
    height: $width;
    background-color: $dark-gray;
    border-radius: 50%;
    z-index: 5;

    cursor: pointer;
    @include transition(background-color .2s ease-out);

    &:hover {
        background-color: color.scale($dark-gray, $lightness: 30%);
    }

    svg {
        @include center;
        fill: $light-gray;
        width: $width - 10px;

        @include transition(opacity .2s ease-out)
    }

    #prompt-close {
        opacity: 0;
    }

}

#nav-pane {
    $nav-width: 300px;
    position: fixed;
    top: 0;
    right: -1 * $nav-width;

    display: flex;
    align-items: center;
    width: $nav-width;
    padding-left: 70px;
    height: 100vh;

    // transform: translate3d(0, 0, 0);

    @include transition(transform .4s ease);
    @include noselect;

    background-color: color.scale($dark-gray, $alpha: -50%);
    backdrop-filter: blur(4px);

    z-index: 4;

    ul {
        $letter_gap: 1.5px;

        margin: 0;
        padding: 0;
        list-style: none;
        font-family: $lato;

        .current {
            font-weight: 700;
            letter-spacing: $letter_gap;
            border-left: 2px solid $sass-pink;
        }
        
        a {
            color: $light-gray;
            text-decoration: none;
        }

        li {
            margin: 10px 0;
            padding-left: .5em;
            font-size: 1.15rem;
            @include transition(letter-spacing .15s cubic-bezier(.17,.67,.75,1.97));        

            &:hover {
                letter-spacing: $letter_gap;
            }
        }

        // Nested List Styling
        ul {
            padding-left: 1em;

            li {
                font-size: 1rem;
            }

        }
    }
}

// Landing Container

header {
    @include fullscreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    background: {
       image: url("images/landing.jpg");
       color: $med-gray;
       position: right;
       size: contain;
       repeat: no-repeat;
    }

    #sass-logo {
        width: 30vw;
    }
}

// Typography Styles

h1 {
    color: $dark-gray;
}

.highlight {
    color: $sass-pink;
}

pre {
    width: 100%;
    border-color: $dark-gray !important;
    border-radius: 10px;
    font-size: .9rem;
    background-color: $dark-gray;
}

// Section Styling

article {
    $gap: 20px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
    width: 100%;
    padding: 50px 100px;

    & > section {
        padding: 60px;
        border-radius: 30px;
        background-color: $light-gray;
        
        section:nth-of-type(n+2) {
            margin-top: 50px;
        }

        // Section Typography Styling

        h1 {
            margin: 0;
            font-size: 2rem;
        }
        
        p, li {
            font: {
                family: $lato;
                size: 1.15rem;
            }

            code {
                border-color: $dark-gray !important;
                font-size: .9rem !important;
                padding-bottom: 3px !important;
            }
        }

        li {
            margin-bottom: 8px;
        }
    } 
}

// Example Stylings
        
.example {
    display: flex;
    gap: 20px;
    width: 100%;

    div {
        position: relative;
        width: 100%;
    }

    span[role="note"] {
        display: block;
        position: absolute;
        top: 20px;
        right: 12px;
        padding: 5px 1ch;

        border: {
            radius: 4px;
            width: 1px;
            color: color.scale($sass-pink, $alpha: -50%);
            style: solid;
        }

        font: {
            family: $lato;
            size: .8rem;
        }
        letter-spacing: .1em;
        text-transform: uppercase;

        color: $sass-pink;
        background-color: darken($dark-gray, 10%);
        z-index: 2;
    }

    pre {
        margin: 0;
    }
}

@mixin fill-row {
    grid-column: -1/1;
    width: auto;
}

#definition, #features {
    @include fill-row
}